<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>
        <% if(messages.success){ %>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
            <svg class="fill-current w-4 h-4 mr-2" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path d="M 10,30
                         A 20,20 0,0,1 50,30
                         A 20,20 0,0,1 90,30
                         Q 90,60 50,90
                         Q 10,60 10,30 z"/>
              </svg>
              <p><%= messages.success %></p>
        </div>
        <% } %>

        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Phone</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Date</th>
                    <th class="px-4 py-2 text-left">Time</th>
                </tr>
            </thead>

            <tbody>
                <% if(orders.length){ %>

                    <% orders.forEach( (order)=>{ %>
                        <tr>
                            <td class="border px-4 py-2">
                                <a class="link" href="/customers/orders/<%= order._id %>">
                                    <%= order._id %>
                                </a>
                            </td>
                            <td class="border px-4 py-2"><%= order.phone %></td>
                            <td class="border px-4 py-2"><%= order.address %></td>
                            <td class="border px-4 py-2">
                                <%= moment(order.createdAt).format('ddd, LL') %>
                            </td>
                            <td class="border px-4 py-2">
                                <%= moment(order.createdAt).format('hh:mm A') %>
                            </td>
                        </tr>
                    <% }) %>

                <% } else { %>
                    <tr>
                        <td class="p-4"><span>No Orders Found !</span></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section> 